:root {
  --mc-green: #3C8527;
  --mc-brown: #835c3b;
  --mc-light: #1e1e1e;
  --mc-dark: #eeeeee;
  --mc-card: #2d2d2d;
  --bg-nav-active: #171615;
  --border-color:#85807f;
  --bg-search: var(--bg-nav-active);
  --bg-body: var(--bg-nav-active);
  --bg-footer: var(--bg-nav-active);
  --btn-shadow: inset 0 -5px 0 #2a641c;
  --btn-border-radius: 0px;
  --header-height: 40px;
  --header-bg: rgba(38, 36, 35, .9);
  --header-padding: 15px;
  --nav-padding: var(--header-padding);
  --card-bg-black:#171615;
  --margin-safe: 20px;
  --select-item-color:#86d562;
  --link-color:#6CC349;
  --pd-spot: 50px;
  --carousel-height: 600px;
  --max-width: 900px;
--border-style:5px solid var(--border-color);
  --clip-arrow:polygon(0% 25%, 0% 50%, 19.05% 50%, 19.05% 75%, 38.09% 75%, 38.09% 100%, 58.76% 100%, 58.76% 75%, 78.63% 75%, 78.63% 50.97%, 99.46% 50%, 99.78% 25.38%, 78.63% 25.38%, 78.63% 50%, 58.76% 50%, 58.76% 75%, 38.09% 75%, 38.09% 50%, 19.05% 50%, 19.05% 25%);
  
  --clip-menu: polygon(
    0px 0px, 30px 0px, 30px 4px, 0px 4px,
    0px 13px, 30px 13px, 30px 17px, 0px 17px,
    0px 26px, 30px 26px, 30px 30px, 0px 30px
  );
  --clip-open-tab: polygon(14.29% 0%,14.29% 28.57%,71.43% 28.57%,71.43% 85.71%,100% 85.71%,100% 0,14.29% 0%,14.29% 71.43%,0% 71.43%,0% 100%,28.57% 100%,28.57% 71.43%,57.14% 71.43%,57.14% 42.86%,28.57% 42.86%,28.57% 71.43%,14.29% 71.43%
  );
  --clip-close: polygon(14.29% 14.29%,14.29% 28.57%,28.57% 28.57%,28.57% 42.86%,42.86% 42.86%,42.86% 57.14%,28.57% 57.14%,28.57% 71.43%,14.29% 71.43%,14.29% 85.71%,28.57% 85.71%,28.57% 71.43%,42.86% 71.43%,42.86% 57.14%,57.14% 57.14%,57.14% 71.43%,71.43% 71.43%,71.43% 85.71%,85.71% 85.71%,85.71% 71.43%,71.43% 71.43%,71.43% 57.14%,57.14% 57.14%,57.14% 42.86%,71.43% 42.86%,71.43% 28.57%,85.71% 28.57%,85.71% 14.29%,71.43% 14.29%,71.43% 28.57%,57.14% 28.57%,57.14% 42.86%,42.86% 42.86%,42.86% 28.57%,28.57% 28.57%,28.57% 14.29%)
}



@font-face {
  font-family: 'Minecraft Seven';
  src: url('../fonts/minecraft-seven.otf.woff2') format('woff2');
}
@font-face {
  font-family: 'Minecraft Ten';
  src: url('../fonts/MinecraftTen.woff') format('woff');
}




::-webkit-scrollbar {
  width: 10px; /* largura da barra */
  height: 10px; /* altura da barra em scroll horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* cor do fundo */
}

::-webkit-scrollbar-thumb {
  background: #0a0a0a; /* cor da "bolinha" da barra */
  border-radius: 5px;
}
h1,h2,h3,h4{
  margin: 10px 0;
  line-height: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a[href] {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a[href]:hover {
  text-decoration: underline;
}
.header__title a[href]:hover {
  text-decoration: none;
}
* {
  box-sizing: content-box;
  text-decoration: none;
  letter-spacing: .03em;
    letter-spacing: .8px;
}
p,span,div,label{
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  line-height: 25px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-body);
  color: var(--mc-dark);
}
body.scrollactive{
  overflow: hidden;
}
hr{
  border-color: var(--border-color);
  width: 80%;
  max-width: var( --max-width);
}
h4 {
  margin: 1rem 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hidden {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.title{
  margin: 0;
    font-family: 'Minecraft Ten', Arial, Helvetica, sans-serif;
}
.desc{
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
  font-size: .8em;
}
header {
  background: var(--header-bg);
  color: white;
  padding: var(--header-padding) calc(var(--header-padding) *2 );
  display: grid;
  grid-template-columns: 1fr 1fr .2fr;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
    z-index: 20;
}
.header-b{
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, .25);
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width:-webkit-fill-available;
  width: -moz-available;
  max-width: 100%;
}

.nav__btn{
  display: none;
  justify-content: flex-start;
}
.navigation{
  display: flex;
  justify-content: flex-end;
}
.nav__icon{
  padding: 10px;
  background: var(--mc-green);
  cursor: pointer;
  position: relative;
}
.nav__link{
  color: white;
  text-decoration: none;
  padding: 0.5rem var(--nav-padding);
  border-radius: var(--btn-border-radius);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
  --icon-size: 10px;
}
.nav__link::after{
  content: '';
  clip-path: var(--clip-arrow);
  width: var(--icon-size);
  height: var(--icon-size);
  background: white;
  display: grid;
  rotate: -90deg;
}
.nav__link:hover {
  /* color: #ccc; */
  transition: none;
}
.header__nav{
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: var(--nav-padding);
  
}
.close__btn{
  background: transparent;
}
.close__btn::before{
  content: '';
  width: 25px;
  height: 25px;
  clip-path: var(--clip-close);
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}
.header__title{
  margin: 0;
  font-family: 'Minecraft Ten', Arial, Helvetica, sans-serif;
}
.nav__container.nav--desktop{
  display: flex;
  background: transparent;
  height: auto;
}
/* Configurações base */
.nav__container.nav--mob.search__container.search--desktop.activeile {
  display: none;
}
.nav__container.nav--desktop {
  display: flex;
  background: transparent;
  height: auto;
}




/* Busca Desktop */
.search__container.search--desktop {
  display: none;
  flex-direction: column;
  background: var(--bg-nav-active);
  height: 300px;
  position: fixed;
  left: 0;
  right: 0;
  top: calc(var(--header-height) + var(--header-padding) * 2);
  z-index: 99;
  padding: 0;
  gap: 0;
  padding: 20px;
  border-bottom: var(--border-style);
}
.search__container.search--desktop.active {
  display: flex;
}

/* Busca Desktop Resultados */
.search__container.search--desktop .search__result {
  flex-wrap: wrap;
  overflow-x: auto;
  margin-top: 20px;
}

/* Input de busca desktop */
.search__container.search--desktop .search__inp {
  height: max-content;
  width: 100%;

}
.nav__container{
  display: none;
  height: 100%;
}
.nav__container.active{
  display: flex;
  flex-direction: column; 
}
.search__btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  position: relative;
}
.search__container{
  height: 100%;
  display: none;
  gap: 10px;
  padding: 0 var(--nav-padding);
}
.search__container.active{
  display: flex;
  flex-direction: column;
}
.search__btn *{
  color: white;
  background: none;
}
.search__container .search__input{
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: var(--btn-border-radius);
  display: flex;
  align-items: center;
  height: 30px;
  min-height: 30px;
  background: var(--bg-search);
  width: -webkit-fill-available;
  max-width: 100%;
  outline: none;
  border: 0;
  position: relative;
}
.search__inp{
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #666;
}
.search__inp::before {
  content: '';
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" title="Search icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H10V3H5V1ZM3 5V3H5V5H3ZM3 10H1V5H3V10ZM5 12H3V10H5V12ZM10 12V14H5V12H10ZM12 10H10V12H12V14H14V16H16V18H18V16H16V14H14V12H12V10ZM12 5H14V10H12V5ZM12 5V3H10V5H12Z" fill="%23FFFFFF"/></svg>') no-repeat center center;
  z-index: 359;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 5px;
}
.search__container.active .search__input.active:focus{
  border: 1px solid var(--mc-green)
}
.search__icon{
  position: absolute;
  padding: 0;
  margin-right: 10px;
}
.btn__clear{
  position: relative;
  right: 8px;

}
.btn__clear:after{
  content: '';
  clip-path: var(--clip-close);
  width: 20px;
  height: 20px;
  background: white;
  display: grid;
}
.mobile--nav{
  display: none;
}

main {
  max-width: 100%;
  margin: auto;
  margin-top: calc(var(--header-height) + var(--header-padding) * 2);
}
.navigation.active{
  display: flex;
  justify-content: flex-start;
  /* margin-bottom: 2rem; */
  position: relative;
  /* top: calc(var(--header-height) + var(--header-padding) * 2); */
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 20;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  max-width: 100%;
  /* background: #000000ad; */
}
.navigation.active > div:nth-child(1){
  width: 80%;
  max-width: 600px;
  height: 100%;
  background: var(--bg-nav-active);
  gap: 10px;
}
.logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation > div:nth-child(1){
  display: none;
}

/*SEARCH RESULT*/
.search__result{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  overflow-y: auto;

}
.search__container.search--mobile{
  gap: 40px;
}
.search__container.search--desktop .result__item{
  max-width: 500px;
}
.result__item{
  display: grid; 
  gap: 10px;
  align-items: center;
  --size: 60px;
  grid-template-columns: var(--size) 1fr;
  padding-right: 20px;
}
.result__item .result__img{
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}
.result__info{
  display: grid;
  gap: 5px;
  width: 100%;
}
.result__info h3{
  font-size: .9rem;
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result__info p{
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 0.8rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}



/*CAROUSEL SECTION*/
.carousel__container{
  display: grid;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  --carousel-list-height: 100px;
}
.carousel__item{
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--carousel-height);
  margin-bottom: calc(var(--pd-spot) * -2);
}
.carousel__item.active{
  display: flex;
}
.carousel__img{
  width: 100%;
  height: var(--carousel-height);
  overflow: hidden;
  position: relative;
  display: grid;
  align-items: center;
  object-position: center;
}
.carousel__info {
  bottom: 0;
  width: auto;
  max-width: 400px;
  transform: translateX(-260px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: var(--card-bg-black);
  padding: 0 30px ;
  height: max-content;
  min-height: max-content;
  border-top: 4px solid var(--border-color);
  z-index: 10;
}

.carousel__title{
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 25px;
    text-align: start;
}
.carousel__title, .carousel__desc{
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 30px;
  width: 80%;
}
.carousel__desc{
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  line-height: 20px;
  font-size: 16px;
  letter-spacing: .5px;
  text-align: start;

}

.carousel__list{
  --size-img: 50px;
  --select-item-border: 2px solid ;
  background: var(--card-bg-black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: var(--carousel-list-height);
    gap: 10px;
    position: relative;
  border-top: var(--border-style);
  
}
.carousel__list__item{
  left: 250px;
  width: var(--size-img);
  height: var(--size-img);
  aspect-ratio: 1 / 1;
  position: relative;
  border: 0;
  background: none;
  outline: none;
  padding: 0;
  border: var( --select-item-border) transparent;
  cursor: pointer;
}
.carousel__list__item.active{
  border: var( --select-item-border) var(--select-item-color);
}

.carousel__list__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.btn__more{
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: var(--link-color);
  font-weight: bold;
  transition: none;
  margin: auto;
  background: none !important;
  box-shadow: none !important;
  --bg-icon: var(--mc-green);
}

.btn__more i{
  color: var(--link-color);
  font-size: 20px;
  transition: none;

}
.btn__more:hover ,.btn__more:hover i{
  color: white;

  
}
.btn__txt::after{
  content: '';
  clip-path: var(--clip-open-tab);
  width: var(--icon-size);
  height: var(--icon-size);
  background:  var(--bg-icon, white);
}
.btn__bg:after{
  --icon-size: 12px;
  content: '';
  clip-path:  var(--clip-arrow);
  width: var(--icon-size);
  height: var(--icon-size);
  background: var(--bg-icon, white);
 rotate: -90deg;
}
.section__title{
  font-family: 'Minecraft Ten', Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
section:not(.hero__carousel){
  margin: 20px 0;
}
/*MAP SECTION*/
.map__section{
  padding: var(--pd-spot);
}
.map__section, .command__section{
  display: grid;
  padding: 0 var(--margin-safe);
  
}
.command__section code{
  cursor: default;
}
.map__section h3, .command__section h3{
  width: 100%;
  text-align: center;
}

.card {
  background: var(--mc-card);
  border-radius: var(--btn-border-radius);
display: grid;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card__title{
  font-size: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .8rem 0;
}
.view-card__image,
.view-card__video {
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  border-radius: var(--btn-border-radius);

  width: 100%;
  height: 0;
  margin-bottom: 1rem;
}
.card__video,
.card__image {
  width: 100%;
  height: auto;
  border: none;
  margin: 0;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-size: cover;
}

/*Buttons*/
.btn__container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.btn {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: auto;
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
  min-width: 150px;
  max-width: 250px;
}
.btn__bg{
  background: var(--mc-green);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  text-decoration: none;
  box-shadow: var(--btn-shadow);
  padding: 10px 20px;
  font-size: 1.2em;
}
.btn__txt{
  color: white;
  font-weight: bold;
  transition: none;
  background: none;
  box-shadow: none;
  font-size: 1.2em;
  padding: 10px 0 0 20px;
  --icon-size: 8px;
}


.card__code, code {
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #222;
    border-radius: var(--btn-border-radius);
    color: blueviolet;
    padding: 10px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin: 10px 0;
    cursor: pointer;
}
.card__details {
  gap: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: end;
}
.card__description {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.copy-btn {
  background: var(--mc-green);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: var(--btn-border-radius);

}

iframe {
  width: 100%;
  max-width: 100%;
  height: 315px;
  margin-top: 1rem;
  border: none;
}

footer {
  background: var(--bg-footer);
  color: white;
  text-align: center;
}
.footer__content{
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  margin-top: 3rem;
}
.footer__content > div{
  margin-top: 20px;
}
.footer__links{
  display: flex;
  gap: 40px;
}
.footer__links li{
  margin: 10px 0;
  display: flex;
}
.footer__links li a{
  color: var(--link-color);
  font-size: 1rem;
}
.footer__links ul > span{
  font-size: 1.4rem;
  font-weight: bold;
}
.footer__links ul > span::after{
  display: none;

}
.footer__links li::after{
  background: var(--link-color) ;
}
.footer__social{
  font-size: 1.2rem;
  margin-top: 0;
  background: black;
  padding: 60px 10px;
}
.footer__social p{
  margin-top: 0;
}
.footer__social i{
  font-size: 3rem;
  margin: 0 10px;
}
.footer__bottom{
  color: gray;
  margin-top: 20px;
  font-size: .8rem;
}

/*Post Page*/

.content__container{
  --max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__container hr{
  max-width: var( --max-width);
}
.galery__items {
  display: grid;
  justify-content: center;
  padding: 10px 20px;
}
.galery__items > div{
  display: flex;
  gap: 10px;
  max-width: var( --max-width);

  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
  width: 100%;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-padding-left: 20px;  /* Ajuste o preenchimento à esquerda */
  scroll-padding-right: 20px; /* Ajuste o preenchimento à direita */
}
.galery__item {
  flex: 0 0 auto; /* Impede quebra de linha e garante scroll horizontal */
  height: 60px;
  min-width: 100px;
  width: auto;
  aspect-ratio: 2 / 1.2;
  overflow: hidden;
  border: 2px solid transparent;
  scroll-snap-align: start;
  cursor: pointer;
}

.galery__item.active {
  border: 2px solid var(--select-item-color);
}

.galery__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.select__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post__content{
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: var( --max-width);
  margin: auto;
}
.post__title{
  font-family: 'Minecraft Ten', Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-size: 2rem;
  letter-spacing: .6px;
}
.post__content{
  min-width: var(--max-width);
}
.content__post{
  line-height: 1.5;
  display: grid;
  margin-top: 20px;
}
/* Títulos */
.content__post h3,
.content__post h4{
  margin-top: 1.2rem;
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
}

/* Parágrafos */
.content__post p {
  margin: 1rem 0;
}

/* Listas */
.content__post ul {
  display: grid;
  gap: 10px;
  margin: 20px 0;
  padding-left: 1rem;
}

.content__post li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.content__post li::before {
  --size-box: 8px;
  content: '';
  width: var(--size-box);
  height: var(--size-box);
  display: block;
  background: var(--mc-green);
  margin-right: 10px;
}

/* Imagens */
.content__post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 1rem 0;
  display: block;
}

/* Links */
.content__post a {
  display: flex;
  margin-top: 1rem;
  padding: 10px 16px;
  background: var(--mc-green);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.2s ease;
}

.post__content .btn{
  margin: auto;
  margin-top: 20px;
}
.codes{
  font-family: 'Minecraft Seven', Arial, Helvetica, sans-serif;
  font-size: .8em;
}

/*Page suport*/
.support__content{
  display: grid;
  justify-items: center;
  align-items: center;
}
.support__section{
  max-width: calc(var(--max-width) / 1.5);
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.support__form{
  position: relative;
  display: grid;
}
.support__form > button{
  margin-top: 20px;
}

.support__form > div{
  display: grid;
}
.support__form label{
  margin: 5px 0;
}
/* Adiciona asterisco nos labels de campos obrigatórios */
.support__form label.required::after {
  content: '*';
  color: red;
  margin-left: 4px;
}

/* Estiliza os inputs e selects */
.support__form input,
.support__form select,
.support__form textarea {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--btn-border-radius);
  display: flex;
  align-items: center;
  height: 30px;
  min-height: 30px;
  background: var(--bg-search);
  width: -webkit-fill-available;
  max-width: 100%;
  position: relative;
  border: 1px solid #666;
}
.support__form textarea{
  min-height: 100px;
  resize: vertical;
}
.support__form select{
  cursor: pointer;
}
.support__intro{
  /* margin-top: 0; */
}


.not__exist {
  text-align: center;
  max-width: 500px;
  margin: auto;
  height: 70vh;
}

.not__exist-title {
  font-family: 'Minecraft Ten', Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.not__exist-message {
  margin: 8px 0;
  max-width: 400px;
}

.not__exist-link {
  margin: 10px 0;
  font-size: 0.8rem;
}


/* Utility Classes */
.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}
.h-50{
  height: 50%;
}
.h-100{
  height: 100%;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}
.p-2{
  padding: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content:flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.rounded {
  border-radius: var(--btn-border-radius);
}
.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


