
  
/* @media screen and (min-width: 1024.98px) {
    .carousel__list{
        --size-img: 60px;
    }
}
  
@media screen and (min-width: 767.98px) {
    .info__spot{
        position: absolute;
        left: calc(50% / 2 - var(--margin-safe) * 7);
        right: 0;
        bottom: calc(var(--margin-safe) - var(--margin-safe) * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--card-bg-black);
        height: 100%;
        width: auto;
        padding: 10px;
        max-height: 200px;
        max-width: 400px;
        gap: 10px;
        border-top: 5px solid #85807f;
      }
    .carousel__list{
        --size-img: 60px;
    }
    .carousel__list__item{
        aspect-ratio: 16 / 9;

    }
} */
 @media (min-width: 1440.98px){
    .carousel__list{
        --size-img: 70px;
    }
    .carousel__info{
        transform: translateX(-260px);
        padding:  50px 50px 0 50px;

    }
    
    .carousel__list__item{
        width: calc(var(--size-img) * 1.4);
        height: calc(var(--size-img) * .8);
    }
    .carousel__item{
        --carousel-height: 700px;
    }
 }
@media (max-width: 1440px){
    .carousel__list{
        --size-img: 70px;
    }
    .carousel__list__item{
        width: calc(var(--size-img) * 1.4);
        height: calc(var(--size-img) * .8);
    }
    .carousel__info{
        transform: translateX(-240px);
        max-width: 300px;
        padding: 40px 40px 0 40px;
    }
    .select__image {
        height: 400px;
      }
      .results__list:has(.card){
        min-width: auto;
        width: 100%;
      }
      .card{

      }
}
    
/* Tablets e menores: 2 colunas */
@media (max-width: 978.98px) {
    .navigation{
        display: none;
    }
    .carousel__list__item{
        transform: translateX(-40px);
        width: calc(var(--size-img) * 1.2);
        height: calc(var(--size-img) * 1.2);
        max-width: 80px;
        aspect-ratio: 1 / 1;
    }
    .carousel__info { 
        transform: translateX(-160px);
        width: 80%;
        max-width: 300px;
       
    }
    .nav__link{
        margin-top: 10px;
    }
    .logo__container {
        justify-content: center;
    }
    .carousel__title{
        font-size: 1.5em;
        text-align: left;
    }
    .carousel__desc{
        font-size: 1em;
        text-align: left;
    }
    .carousel__list{
        --size-img: 50px;
    }
      .nav__container.nav--desktop {
        display: flex;
      }
      .search__container.search--mobile {
        display: none;
      }
      .nav__container.nav--mobile.active {
        display: flex;
        flex-direction: column;
      }
      .nav__container.nav--desktop {
        display: none;
      }
      .search__container.search--desktop {
        display: none ;
      }
      .navigation.active{
        position: absolute;
        top:0; 
        height: 100vh;
        background: #000000a3;
      }
      .nav__btn {
        display: flex;
      }
      header{
        padding: var(--header-padding);
        grid-template-columns: 1fr 1fr 1fr;
      }
      .navigation > div:nth-child(1){
        display: flex;
      }
      .navigation.active{
        align-items: flex-start;
      }
      .desktop--nav{
        display: none;
      }
      .mobile--nav{
        display: flex;
      }
      .search__container.search--mobile.active{
        display: flex
        ;
        flex-direction: column;
      }
      
    .post__content {
        min-width: 90vw;

    }
    .post__content{
        max-width: 100%;
    }
    .about__highlight-text{
        padding: 0 30px;
    }
}
@media (max-width: 68.98px){

}
@media (max-width: 768.98px){
    
    .carousel__item{
        --carousel-height: 500px;
    }
    .carousel__list{
        padding-top: 120px;
    }
    .btn__container{
        flex-direction: column;
    }
    .carousel__list__item{
        width: var(--size-img);
        height: var(--size-img);
        left: 0px;
        transform: translateX(0px);
    }
    .carousel__info{
        
        transform: translateX(0px);
        width: 80%;
        max-width: 360px;
    }
    /*Post*/
    .content__container{
        --max-width: 600px;
       
    }
    .post__content{
        margin: 0;
    }
    .content__post span{
        font-size: 1rem;
    }
}
/* Tablets e menores: 2 colunas */
@media (max-width: 718.98px){
    .card__details {
        grid-template-columns: 1fr ;
        justify-items: end;
}

.carousel__item{
    --carousel-height: 500px;
}
    .carousel__info{
        min-height: 200px;
        max-width: 300px;
        padding: 25px;
    }
    .carousel__title, .carousel__desc{
        width: 100%;
    }
    .content__container{
        /* --max-width:  calc(100% - 20px); */
    }
    .content__post{
        display: grid;
        font-weight: bold;

    }
    .content__post *{
        --max-width: calc(100% - 20px);
        display: 
        inherit;
    }
    .support__content{
        padding: 20px;
    }
    .support__items{}
}